.like{
    display: flex;
    padding-top: 10px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}
.likebtn > img{
    border-radius: 16px;
    flex-grow: 0.5; 
    width: 25%;
    padding: 5px;
}
.likebtn > span{
    flex-grow: 1;
}
.likebtn{
    display: flex;
    align-items: center;
    padding: 5px;
    width: 80px;
    border-radius: 40px;
    font-size: 140%;
}

.clicked{
    background-color: #f770a4;
}
.clicked > img{
    background-color: #e73c7e;
}
